.title{
    text-align: center;
    font-family: Tahoma;
    color: #006d77;;
}

.box1{
    width: 500px;
    height: 300px;
    padding: 40px;
    position: absolute;
    transform: translate(30%, 32%);
    background: #83c5be;
}

.box2{
    width: 500px;
    height: 350px;
    padding: 40px;
    position: absolute;
    transform: translate(170%, 29%);
    background: #83c5be;
    text-align: center;
}

.imageBox img{
    width: 500px;
    height: 350px;
}

.backButton{
    border: 0;
    width: 150px;
    height: 30px;
    margin: 20px auto;
    position: absolute;
    border-radius: 25px;
    cursor: pointer;
    background-color: #83c5be;
    color: white;
    transform: translate(250%, 1800%);
}

.backButton:hover{
    background-color: #006d77;
}